html, body {        
    margin: 0;
    padding: 0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

body {
    font-family: 'Questrial', sans-serif;
    padding-top: 70px; 
}

.navbar-fixed-top {
    height: 50px	;
}

.textarea {
    margin-left: 20%;
    margin-right: 20%;
}

.wellsm {
    text-align: center;
    min-height: 350px;
    margin-left: 1%;
    margin-right: 1%;
    width:23%;
}

.new-well {
    min-height: 357px;
    max-width: 345px;  
    position: relative;
}

.well-lg {
    min-height: 600px;
}

.container {
    margin-bottom: 50px;
}

h2 {
    font-size: 14px;
}


a {

    color: #007740;

}

a:hover {
    color: #005F34;
}

.imgdiv {
    margin-bottom: 5%;
    width: 80%;
    bottom: 20px;
    position: absolute;

}

.linkdiv {
    height: 120px;
}

.navbar-footer {
    height: 150px;
    margin-bottom: 0px;
}

#footerimage {
    position: absolute;
    right: 10px;
    height: 150px;
}

.footdiv-content {
    position: absolute;
    bottom: -140px;
    left:10px;

}



@media screen and (max-width: 766px) {
    .textarea {
        margin-left: 5%;
        margin-right: 5%;
    }

    .navbar-footer {
        height: 170px;
        margin-bottom: 0px;
    }

    .footdiv-content {
        position: absolute;
        bottom: -165px;
        left: 10px;
    }

    #footerimage {
        position: absolute;
        right: 10px;
        height: 128px;

    }
}

.footdiv {
    position: relative;
}

