body {
	font-family: 'Prompt', sans-serif;
	padding-top: 70px; 
}

.navbar-fixed-top {
	height: 50px	;
}

.textarea {
	margin-left: 20%;
	margin-right: 20%;
}

.wellsm {
	text-align: center;
	min-height: 350px;
	margin-left: 1%;
	margin-right: 1%;
	width:23%;
	}

.well-lg {
	height: 600px;
}

.container {
	margin-bottom: 50px;
}

h2 {
	font-size: 15px;
}


a {

	color: #007740;

}

a:hover {
	color: #005F34;
}

.imgdiv {
	margin-left: 15%;
	margin-bottom: 15%;
	width: 70%;
	margin-top: 15%;

}

.linkdiv {
	height: 120px;
}

.navbar-footer {
	height: 150px;
	margin-bottom: 0px;


}

#footerimage {
	position: absolute;
	right: 10px;
	height: 150px;
}

.footdiv {
    position: relative;
}

.footdiv-content {
   position: absolute;
   bottom: -140px;
   left:10px;
 
}

